
{{#view Frontend.NavBarView}}
	{{render "navbar"}}

{{#view Frontend.MapView classNames='map-canvas'}}
	<div id="map"></div>
	{{render "provinces"}}
	{{render "counter"}}
	{{render "country"}}
	{{render "contribute"}}
	{{render "twitter"}}
{{/view}}
{{/view}}
