{{#view Frontend.MapView }}
	<div id="map"></div>
	{{render "provinces" Frontend.Province}}
	{{render "counter" Frontend.Counter}}
	{{render "country" Frontend.Country}}
	{{render "contribute"}}
	{{render "twitter"}}
{{/view}}


