{{#view Frontend.MapView }}
	<div id="map"></div>
	{{render "provinces"}}
	{{render "counter"}}
	{{render "country"}}
	{{render "contribute"}}
	{{render "twitter"}}
{{/view}}

<!-- <div class="sanitation">
	<div id="map"></div>
	{{render "provinces"}}
	{{render "counter"}}
	{{render "country"}}
	{{render "contribute"}}
	{{render "twitter"}}
</div> -->

